<!--<!DOCTYPE html>-->
<html>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/css/styles.css" %}">
	<title>Reddit</title>
	<h1>Reddit</h1>
	{% for post in posts %}
		<div class="content">	
			<p class="title">
				<a class="post-title" href={{ post.url }}>{{ post.title }}</a>
			</p>
			<a class="comments" href={{ post.permalink }}>{{ post.num_comments }} comments</a>
			<br>
		</div>
		<br>
	{% endfor %}
	<footer>
		view  more: <a href="">next ></a>
	</footer>
	<script>
		var subreddit = document.URL.split('/')[4];
		if(subreddit != undefined){
			document.title = subreddit;
			document.getElementsByTagName("h1")[0].innerHTML = "/r/" + subreddit;
		}
	</script>
</html>